.pageMain {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.photo {
    width: 300px;
    height: 300px;
    object-fit: fill;
}

.headingArticle {
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mainHeading {
    font-size: 5em;
}

.mainHeadingSub {
    max-width: 600px;
    font-size: 1.2em;
    line-height: 2em;
}