.lngButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border-radius: 50%;
    border: 2px solid var(--color-text-primary);
    padding: 0;
    margin: 0;
    pointer-events: none;
    user-select: none;
    left: 0;
    right: 0;
    transition: 400ms ease-in-out;
    font-size: 1em;
    color: var(--color-text-primary-reverse);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.lngButton.en {
    background-image: url(../../../../public/en.svg);
}

.lngButton.ru {
    background-image: url(../../../../public/ru.svg);
}

.lngButton.uk {
    background-image: url(../../../../public/uk.svg);
}

.lngButton.sr {
    background-image: url(../../../../public/sr.svg);
}

.lngButton, .select select {
    position: absolute;
    top: 0;
    bottom: 0;
}

.select select:hover + .lngButton,
.select select:focus + .lngButton {
    box-shadow: var(--hover-box-shadow);
}

.select {
    position: relative;
    width: 35px;
    height: 35px;
}

.select select {
    opacity: 0;
    left: -16px;
    right: -16px;
}

.select select option {

}