@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
  --bg: white;
  --color-text-primary-bright: white;
  --color-text-primary-dark: #1e1f22;
  --color-text-primary: var(--color-text-primary-dark);
  --color-text-primary-reverse: var(--color-text-primary-bright);
  --header-height: 70px;
  --body-padding-x: 5rem;
  --font-primary: 'Montserrat', sans-serif;
  --color-header-splitter: rgba(0, 0, 0, 0.2);
  --header-bg-color: transparent;
  --hover-box-shadow: 0 0 5px 0 var(--color-text-primary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #1e1f22;
    --color-text-primary: var(--color-text-primary-bright);
    --color-text-primary-reverse: var(--color-text-primary-dark);
    --color-header-splitter: rgba(255, 255, 255, 0.08);
    --header-bg-color: rgba(40, 40, 40, .15);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--color-text-primary);
  background: var(--bg);
  font-family: var(--font-primary);
  padding: var(--header-height) var(--body-padding-x) 0;
  height: 100vh;
  -webkit-font-smoothing: subpixel-antialiased;
}

#root, main {
  height: 100%;
}

main {
  min-height: 400px;
}

h1, h2, h3, h4, h5 {
  margin-bottom: .3em;
}

a {
  color: inherit;
  text-decoration: underline;
}

button {
  margin-left: 16px;
  font-family: inherit;
  font-size: inherit;
  background: var(--bg);
  border: 2px solid var(--color-text-primary);
  border-radius: 8px;
  padding: 8px 12px;
  transition: 400ms ease-in-out;
  cursor: pointer;
}

button:hover,
button:focus {
  box-shadow: var(--hover-box-shadow);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}