@import url("https://fonts.googleapis.com/css?family=Open+Sans");

:root {
  --bg: white;
  --color-text-primary: #1e1f22;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #1e1f22;
    --color-text-primary: white;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
  margin-bottom: .3em;
}

body {
  color: var(--color-text-primary);
  background: var(--bg);
  font-family: 'Open Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}